.app {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: var(--tg-viewport-stable-height, 100vh);
  height: var(--tg-viewport-stable-height, 100vh);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  /* Черный текст */
  color: #000000;
  text-align: center;
  
  /* Белый фон */
  background: #ffffff;
  background-attachment: fixed;
  
  /* Предотвращаем горизонтальный скролл */
  position: relative;
}
.app-logo {
  pointer-events: none;
  scale: 1.3;
  animation: app-logo-spin infinite 20s linear;

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.links {
  a {
    border-bottom: #fff solid 1px;
  }
}
